/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   SVG
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
svg.minichart {
  font: 10px sans-serif;
  background: var(--biduul-chart-background, #202020);
  shape-rendering: crispEdges;
}
svg.minichart text {
  fill: var(--biduul-chart-text-fill, #fff);
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Axis
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
svg.minichart .axis text {
  fill: var(--biduul-chart-text-fill);
}
svg.minichart .axis path, svg.minichart .axis line {
  stroke: var(--biduul-chart-axis-line-stroke);
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Candles
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
svg.minichart .plot .wick {
  stroke-width: 1px;
}
svg.minichart .plot .up.body {
  fill: var(--biduul-chart-plot-up-body-fill, var(--bs-green));
  stroke: var(--biduul-chart-plot-up-body-stroke, var(--bs-green));
}
svg.minichart .plot .up.wick {
  stroke: var(--biduul-chart-plot-up-wick-stroke, var(--bs-green));
}
svg.minichart .plot .down.body {
  fill: var(--biduul-chart-plot-down-body-fill, var(--bs-red));
  stroke: var(--biduul-chart-plot-down-body-stroke, var(--bs-red));
}
svg.minichart .plot .down.wick {
  stroke: var(--biduul-chart-plot-down-wick-stroke, var(--bs-red));
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Grid
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
svg.minichart .gridlines line, svg.minichart .gridlines path {
  stroke: var(--biduul-chart-gridlines-stroke, rgba(100, 100, 100, 0.2));
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Lines
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
svg.minichart .line-label text {
  fill: #fff;
}
