/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   SVG
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
svg.minichart {
  font: 10px sans-serif;
  background: var(--altamoon-chart-background, #202020);
  shape-rendering: crispEdges;
}
svg.minichart text {
  fill: var(--altamoon-chart-text-fill, #fff);
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Axis
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
svg.minichart .axis path, svg.minichart .axis line {
  stroke: var(--altamoon-chart-axis-line-stroke, rgba(100, 100, 100, 0.2));
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Candles and Volume
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
svg.minichart .volume {
  opacity: 0.5;
}
svg.minichart .plot .wick {
  stroke-width: 1px;
}
svg.minichart .plot .up.body, svg.minichart .volume .up.body {
  fill: var(--altamoon-chart-plot-up-body-fill, var(--bs-green));
  stroke: var(--altamoon-chart-plot-up-body-stroke, var(--bs-green));
}
svg.minichart .plot .up.wick {
  stroke: var(--altamoon-chart-plot-up-wick-stroke, var(--bs-green));
}
svg.minichart .plot .down.body, svg.minichart .volume .down.body {
  fill: var(--altamoon-chart-plot-down-body-fill, var(--bs-red));
  stroke: var(--altamoon-chart-plot-down-body-stroke, var(--bs-red));
}
svg.minichart .plot .down.wick {
  stroke: var(--altamoon-chart-plot-down-wick-stroke, var(--bs-red));
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Grid
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
svg.minichart .gridlines line, svg.minichart .gridlines path {
  stroke: var(--altamoon-chart-gridlines-stroke, rgba(100, 100, 100, 0.2));
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Lines
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
svg.minichart .price-line-wrapper text {
  fill: #fff;
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Alert lines
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

svg.minichart .triggered-alert-indicator {
  animation-duration: 1s;
  animation-name: minichart-triggered-alert-indicator;
  animation-iteration-count: infinite;
  display: inline-block;
  vertical-align: top;
  color: var(--bs-yellow);
}

@keyframes minichart-triggered-alert-indicator {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}


