

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   SVG
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
svg.minichart {
  font: 10px sans-serif;
  background: var(--biduul-chart-background, #202020);
  shape-rendering: crispEdges;
}
svg.minichart text {
  fill: var(--biduul-chart-text-fill, white)
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Candles
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
svg.minichart .plot .wick {
  stroke-width: 1px;
}
svg.minichart .plot .up.body {
  fill: var(--bs-success);
  stroke: var(--bs-success);
}
svg.minichart .plot .up.wick {
  stroke: var(--bs-success);
}
svg.minichart .plot .down.body {
  fill: var(--bs-danger);
  stroke: var(--bs-danger);
}
svg.minichart .plot .down.wick {
  stroke: var(--bs-danger);
}